@import "../libs/variables";
.user-cart {
  padding: 0px;
  & > .MuiPaper-root {
    margin-top: 15px;
    background: $secondary;
    border-radius: 0px !important;
  }
  & > .product-info {
    margin: 5px 0px !important;
    padding: 15px;
  }
  .empty-cart {
    padding: 15px;
    h2 {
      text-align: center;
      a {
        font-size: $font_medium;
      }
    }
  }
}
