@import "../libs/variables";
.row {
  margin: 0 !important;
}
.product-list {
  .product {
    height: 300px;
    padding: 15px;
  }
}
.home_products {
  .product-list {
    background: $secondary;
    position: relative;
    top: 65px !important;
  }
}
